/* 各ブラウザに働いているデフォルトのCSS値をリセット */
@charset "UTF-8";

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

ul[role='list'],
ol[role='list'] {
    list-style: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    text-rendering: optimizespeed;
}

a {
    color: white;
    text-decoration: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: 0.01ms !important;
    }
}

button {
    display: inline-block;
    padding: none;
    border: none;
    margin: 0;
    appearance: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}
